.card {
	background-color: inherit;
	border: .5px solid #0a0;
	margin: 2rem auto;
}
.card .btn-outline-success{
	color: silver;
}

.special {
	color: rgba(215, 253, 2,1) !important;
}

.terminalText {
    color: #aaa !important;
}
#terminal , .terminalText{
	font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .terminalText {
		color: #aaa !important;
	}
	#terminal , .terminalText{
		font-weight: bold;
		font-size: 13px;
	}
}

