.card {
	background-color: inherit;
	border: .5px solid #0a0;
	margin: 2rem auto;
}
.card .btn-outline-success{
	color: silver;
}
#terminal {
	font-weight: bold;
}
.special {
	color: rgba(215, 253, 2,1) !important;
}